<!DOCTYPE html>
<html lang="en-US">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Harmony</title>
    <link rel="shortcut icon" href="assets/img/favicon.png">
    <meta name="keywords"
        content="Harmony. aspires to weave an unprecedented experience of fine living cocooned in comfort for you. It’s the statement of prestige and elegant Architecture that sets us apart.">
    <meta name="description"
        content="Harmony. aspires to weave an unprecedented experience of fine living cocooned in comfort for you. It’s the statement of prestige and elegant Architecture that sets us apart.">
    <link href="assets/css/lightbox/ekko-lightbox.min.css" rel="stylesheet">
    <link href="assets/css/home-map/mapbd.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="preconnect">
    <link href="assets/css/bundle.mined.css" rel="stylesheet" media="all">
    <link href="assets/css/layerslider.min.css" rel="stylesheet" media="all">
    <link href="assets/css/style.css" rel="stylesheet" media="all">
    <link href="assets/css/yt-lazyloadc.css" rel="stylesheet" media="all">
    <script src="assets/js/jquery.min.js"></script>

</head>

<body class="bodyclass ">
    <script>
        var site_url_info = {
            baseUrl: 'https://http://harmony-bd.com/',
            Url: 'https://http://harmonybd.com/'
        }
    </script>
    <!-- Google Tag Manager (noscript) -->
    <div class="site-main-wrapper ">
        <div class="animsition open-menu-position">
            <!-- Header -->
            <!-- ============================================= -->
            <div class="menu-fixed-light menu-dark-mobiles">
                <!-- Notice the menu-fixed-light class -->
                <header class="header-wrapper header-transparent header-transparent-light">
                    <div class="main-header">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="menu-wrapper">
                                            <div class="logo-wrapper">
                                                <a href="index.html" class="logo">
                                                    <img src="assets/img/harmony-logo.jpeg" class="logo-img logo-dark"
                                                        alt="Logo">
                                                </a>
                                            </div>

                                            <a href="#menu" class="btn btn-dark btn-lg mobile-menu-bar">
                                                <img src="assets/img/icons/menu.svg" alt="hamburger icon">
                                            </a>

                                            <nav class="navbar-right">
                                                <ul class="menu">
                                                    <li>
                                                        <a href="index.html">
                                                            <span>Home</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span>About us</span>
                                                        </a>
                                                        <ul class="submenu" style="display: none;">
                                                            <li>
                                                                <a href="our-story.html">Our Story</a>
                                                            </li>
                                                            <li>
                                                                <a href="vision-mission--values.html">Vision,
                                                                    Mission Values</a>
                                                            </li>
                                                            <li>
                                                                <a href="board-of-directors.html">Board of
                                                                    Directors</a>
                                                            </li>
                                                            <li>
                                                                <a href="management-team.html">Management
                                                                    Team</a>
                                                            </li>
                                                            <li>
                                                                <a href="companies.html">Companies</a>
                                                            </li>
                                                            <li>
                                                                <a href="our-clients.html">Our Clients</a>
                                                            </li>
                                                            <li>
                                                                <a href="csr.html">CSR</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span>Projects</span>
                                                        </a>
                                                        <ul class="submenu" style="display: none;">
                                                            <li>
                                                                <a href="ongoing.html">Ongoing</a>
                                                            </li>
                                                            <li>
                                                                <a href="upcoming.html">Upcoming</a>
                                                            </li>
                                                            <li>
                                                                <a href="completed.html">Completed</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="news.html">
                                                            <span>News Events</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="career.html">
                                                            <span>Career</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a class="active" href="#">
                                                            <span>Contact</span>
                                                        </a>
                                                        <ul class="submenu" style="display: none;">
                                                            <li>
                                                                <a href="landowners.html">Landowners</a>
                                                            </li>
                                                            <li>
                                                                <a href="buyers.html">Buyers</a>
                                                            </li>
                                                            <li>
                                                                <a href="customers.html">Customers</a>
                                                            </li>
                                                            <li>
                                                                <a href="contact-us.html">Contact Us</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a class="open-search-menu" href="#search">
                                                            <span>
                                                                <img src="assets/img/icons/search.svg" alt="">
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Main-Header -->
                </header>

            </div>

            <!-- Mobile Menu -->
            <nav id="menu" class="mmenu-mobile" style="display: none;">
                <ul class="listview-icons">
                    <li>
                        <a href="index.html">
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>About Us</span>
                        </a>
                        <ul>
                            <li><a href="our-story.html">Our Story</a></li>
                            <li><a href="vision-mission--values.html">Vision, Mission & Values</a></li>
                            <li><a href="board-of-directors.html">Board of Directors</a></li>
                            <li><a href="management-team.html">Management Team</a></li>
                            <li><a href="companies.html">Companies</a></li>
                            <li><a href="our-clients.html">Our Clients</a></li>
                            <li><a href="csr.html">CSR</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <span>Projects</span>
                        </a>
                        <ul>
                            <li><a href="ongoing.html">Ongoing</a></li>
                            <li><a href="upcoming.html">Upcoming</a></li>
                            <li><a href="completed.html">Completed</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="news.html"><span>News & Events</span></a>
                    </li>
                    <li>
                        <a href="career.html"><span>Career</span></a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Contact</span>
                        </a>
                        <ul>
                            <li><a href="landowners.html">Landowners</a></li>
                            <li><a href="buyers.html">Buyers</a></li>
                            <li><a href="customers.html">Customers</a></li>
                            <li><a href="contact-us.html">Contact Us</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="open-search-menu" href="#search">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-265 377 40 40"
                                style="enable-background:new -265 377 40 40;" xml:space="preserve">
                                <g id="XMLID_86_">
                                    <rect id="XMLID_90_" x="-265" y="377" class="st0" width="40" height="40"></rect>
                                    <g id="search">
                                        <g id="XMLID_117_">
                                            <path id="XMLID_456_" class="st1" d="M-232.3,408.4l-6.3-6.3c1.6-1.9,2.6-4.4,2.6-7.1c0-6.1-4.9-11-11-11s-11,4.9-11,11
                                        s4.9,11,11,11c2.7,0,5.2-1,7.1-2.6l6.3,6.3c0.4,0.4,1,0.4,1.3,0C-231.9,409.3-231.9,408.7-232.3,408.4z M-247,404c-5,0-9-4-9-9
                                        s4-9,9-9s9,4,9,9S-242,404-247,404z">
                                            </path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            Search
                        </a>
                    </li>
                    <li class="social-links">
                        <a href="#" target="_blank" class="facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" target="_blank" class="twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" target="_blank" class="linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="#" target="_blank" class="youtube">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- End of Mobile Menu -->

        </div>
        <header class="site-main-header">
            <div class="menu-overlay search-result-menu " ng-app="Harmony" ng-controller="searchCtrl">
                <div class="pull-right hamburger hamburger-close ">
                    <a href="#">
                        <img src="assets/img/icons/Close.svg" alt="close icon">
                    </a>
                </div>
                <div class="menu-column column-left has-inner-scroller "
                    style="background-image: url(assets/img/images/menu-1.jpg);">
                    <div class="menu-column-gap">
                        <div class="column-title-container">

                        </div>
                    </div>
                    <div class="menu-column-gap inner-scroller mcustom-scrollar">
                        <h1 class="heading-secondary text-white mb-50 ">
                            search projects
                        </h1>
                        <div class="text-white">
                            <p>Confidence is essential when choosing a contractor to provide the services you require,
                                as no two projects are ever the same.</p>
                        </div>
                    </div>
                </div>
                <div class="menu-column column-middle has-inner-scroller">
                    <div class="menu-column-gap inner-scroller mcustom-scrollar">
                        <form class="form-primary text-white custom-select">
                            <div class="form-group">
                                <div>
                                    <label for="">By Project</label>
                                    <input type="text" placeholder="Type the project name" ng-model="search.name">
                                </div>
                            </div>

                            <div class="form-group">
                                <div>
                                    <label for="">By Location</label>
                                    <select name="search.address" id="search.address" ng-model="search.address">
                                        <option value="">Any Location</option>
                                        <option value="Gulshan">Gulshan</option>
                                        <option value="Mohammadpur">Mohammadpur</option>
                                        <option value="Dhanmondi">Dhanmondi</option>
                                        <option value="Banani">Banani</option>
                                        <option value="Dhaka Cantonment">Dhaka Cantonment</option>
                                        <option value="Baridhara">Baridhara</option>
                                        <option value="Banani DOHS">Banani DOHS</option>
                                        <option value="Uttara">Uttara</option>
                                        <option value="Tejgaon">Tejgaon</option>
                                        <option value="Paribagh">Paribagh</option>
                                        <option value="Indira Road">Indira Road</option>
                                        <option value="New Eskaton">New Eskaton</option>
                                        <option value="New Baily Road">New Baily Road</option>
                                        <option value="Banasree">Banasree</option>
                                        <option value="Mirpur DOHS">Mirpur DOHS</option>
                                        <option value="Baily Road">Baily Road</option>
                                        <option value="Bashundhara R/A">Bashundhara R/A</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class=''>
                                    <label for="search.size">By Size (Sft)
                                    </label>
                                    <select name="search.size" id="search.size" ng-model="size">
                                        <option value="">All Size</option>
                                        <option value="600-1000">BELOW 1000</option>
                                        <option value="1001-1500">1000 - 1500</option>
                                        <option value="1501-2000">1500 - 2000</option>
                                        <option value="2001-2500">2000 - 2500</option>
                                        <option value="2601-3000">2500 - 3000</option>
                                        <option value="3001-15000">ABOVE 3000</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label for="search.type">By Type</label>
                                    <select name="search.type" id="search.type" ng-model="search.type">
                                        <option value="">All Type</option>
                                        <option value="residential">Residential</option>
                                        <option value="commercial">Commercial</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="menu-column column-right text-white has-inner-scroller">
                    <div class="menu-column-gap">
                        <div class="column-title-container">
                            <div ng-show="filteredResults.length == 0">
                                Sorry no result found !
                            </div>
                        </div>
                    </div>
                    <div class="menu-column-gap inner-scroller mcustom-scrollar">
                        <div class="full-height-desktop">
                            <ul class="search-result-list">
                                <li
                                    ng-repeat="result in filteredResults = (results | filter:search | filter:searchSize ) | orderBy:name">
                                    <a ng-href="{{result.link}}">
                                        <div class="search-thumb-wrapper">
                                            <div class="search-thumb"
                                                ng-style="{'background-image':'url({{result.image}})'}"></div>
                                        </div>
                                        <div class="search-meta">
                                            <h3 class="search-item-title">{{result.name | makeUpper}}</h3>
                                            <div class="search-item-subtitle">{{result.address}}</div>

                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="banner-slider-wrapper overflow-hidden">
            <div class="no-pad project-detail-info fullscreen-content general-page">
                <div class="overlay-layer" style="background-color: #231F20;"></div>
                <div class="container-fluid full-height full-height-sm">

                    <div class="row  full-height text-center no-margin table-all">
                        <div
                            class="col-sm-12 project-short-info full-height full-height-sm table-cell-all table-cell-all-vertical">

                            <h3 class="heading-fourth text-white mb-20 hover-line inline-block">
                                Contact </h3>
                            <h2 class="heading-primary text-white">
                                Buyers </h2>
                        </div>
                    </div>
                </div>
            </div>
            <div class="bannerImageWrapper">
                <img src="assets/img/harmony-img/byers.jpg" alt="img">
            </div>
        </div>

        <section id="buyers" class=" our-background">
            <div class="clearfix">
                <div class="col-sm-6 no-pad parallax-holder col-sm-46-percent "
                    style="background-image: url(assets/img/harmony-img/byers-img.jpeg);">

                </div>
                <div class="col-sm-6 no-pad col-sm-push-6 col-sm-54-percent col-sm-push-46-percent ">
                    <div class="content-holder no-before-after bg-white section-gap-50">
                        <h2 class="heading-primary style-1">
                            Buyers </h2>
                            A person's lifelong dream is to own an office block, a flat, or even a house. This dream motivates him or her to progressively save the necessary funds, which is the first step towards turning this dream into reality. This unwavering quest to make such a dream a reality can continue from generation to generation. Is it really realised to what degree this "dream" is realised once a space is bought, though?<br />
                        <br />
                        We at Harmony Holdings Ltd. have been readying for that exact moment since we recognise how significant a turning point it will be for you. Our commercial complexes, apartments, and condos are up against the finest that the contemporary world has to offer. At HHL, we have everything you need for chic urban living, from temperature-controlled swimming pools to lush rooftop gardens and terraces, from cutting-edge gyms to roomy walkways and kid-friendly play areas.<br />
                        <br />
                        Even business becomes a pleasure in our commercial spaces with central air-conditioning,
                        triple-height lobby areas multilayered parking facilities and much more. Show the world
                        you&rsquo;ve arrived, by owning your own little piece of luxury.
                        <!-- <a href="#" class="button button-outline button-outline-skyblue mt-30">Explore</a> -->
                    </div>
                </div>
            </div>
        </section>
        <section id="who-we-are" class="section-gap bg-dark-grey pb-40">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-10 col-md-8 center-block">
                        <div class="mb-60">
                            <h2 class="heading-primary text-white">
                                explore the options </h2>
                        </div>
                        <div>
                            <form id="buyers-form" class="dynamic_form form-primary all-text-white custom-select"
                                method="post" data-pjax="false">
                                <input type="hidden" name="_csrf-frontend"
                                    value="">
                                <div class="row">
                                    <div class="col-sm-5 mb-50">
                                        <input type="hidden" id="buyers-form" class="form-control" name="form_id"
                                            value="buyers-form">
                                        <div
                                            class="form-message-container success_wrapper hide success_wrapper_buyers-form">
                                            <div class="form-message-body">
                                                <div class="cross-popup" data-msg-close>
                                                    X
                                                </div>
                                                <span class="success_container_buyers-form"></span>
                                                <div>
                                                    <div data-msg-close
                                                        class="close-btn button button-outline button-outline-blackish mt-30 popup-ok-btn">
                                                        Ok</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div
                                            class="form-message-container error_wrapper hide error_wrapper_buyers-form">
                                            <div class="form-message-body">
                                                <div class="cross-popup" data-msg-close>
                                                    X
                                                </div>
                                                <span class="error_container_buyers-form"></span>
                                                <div>
                                                    <div data-msg-close
                                                        class="close-btn button button-outline button-outline-blackish mt-30 popup-ok-btn">
                                                        Ok</div>
                                                </div>
                                            </div>
                                        </div>
                                        <input type="text"  style="display:none;">
                                        <div class="form-group pt-70 field-catagory buyer-interest">
                                            <div>
                                                <label class="control-label" for="preferred_location">Preferred
                                                    Location</label>
                                                <input type="text" id="preferred_location" class="form-control"
                                                    placeholder="Enter your preferred location/neighbourhood">
                                                <div class="hint-block"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                <label class="control-label" for="preferred_size">Preferred Size</label>
                                                <input type="text" id="preferred_size" class="form-control"
                                                    placeholder="Enter your preferred size of the unit in sft">
                                                <div class="hint-block"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                <label class="control-label" for="car_parking">Car Parking
                                                    Requirement</label>
                                                <input type="text" id="car_parking" class="form-control"
                                                    placeholder="Enter your no. of parking required">
                                                <div class="hint-block"></div>
                                            </div>
                                        </div>


                                        <div class="form-group">
                                            <div>
                                                <label class="control-label" for="expected_handover_time">Expected
                                                    Handover Date</label>
                                                <input type="text" id="expected_handover_time" class="form-control"
                                                    placeholder="Enter your expected handover/move in date">
                                                <div class="hint-block"></div>
                                            </div>
                                        </div>
                                        <div class="form-group pt-70 mt-70 field-catagory buyer-preferences">
                                            <div>
                                                <label class="control-label" for="facing_the_apartment">Facing Of The
                                                    Apartment</label>
                                                <input type="text" id="facing_the_apartment" class="form-control"
                                                    placeholder="Enter your preferred facing of the unit">
                                                <div class="hint-block"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                <label class="control-label" for="preferred_floor">Preferred
                                                    Floor</label>
                                                <input type="text" id="preferred_floor" class="form-control"
                                                    placeholder="Enter your preferred floor">
                                                <div class="hint-block"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                <label class="control-label" for="minimum_bed_rooms">Minimum Number Of
                                                    Bedrooms</label>
                                                <input type="text" id="minimum_bed_rooms" class="form-control"
                                                    placeholder="Enter the minimum no. of bedrooms">
                                                <div class="hint-block"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                <label class="control-label" for="minimum_bath_rooms">Minimum Number Of
                                                    Bathrooms</label>
                                                <input type="text" id="minimum_bath_rooms" class="form-control"
                                                    placeholder="Enter the minimum no. of bathrooms">
                                                <div class="hint-block"></div>
                                            </div>
                                        </div>



                                    </div>
                                    <div class="col-sm-offset-2 col-sm-5">
                                        <!-- <div class="form-group"> -->
                                        <div class="form-group pt-70 field-catagory buyer-contact">
                                            <div>
                                                <label class="control-label" for="name">Name*</label>
                                                <input type="text" id="name" class="form-control"
                                                     placeholder="Enter your full name here">
                                                <div class="hint-block"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                <label class="control-label" for="profession">Profession</label>
                                                <input type="text" id="profession" class="form-control"
                                                    placeholder="Enter your profession here">
                                                <div class="hint-block"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                <label class="control-label" for="mobile_number">Contact Number*</label>
                                                <input type="text" id="mobile_number" class="form-control"
                                                    placeholder="Enter your contact number here">
                                                <div class="hint-block"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                <label class="control-label" for="email_id">Email ID</label>
                                                <input type="text" id="email_id" class="form-control"
                                                    placeholder="Enter your email ID here">
                                                <div class="hint-block"></div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div>
                                                <label class="control-label" for="mailing_address">Mailing
                                                    Address</label>
                                                <input type="text" id="mailing_address" class="form-control"
                                                    placeholder="Enter your mailing address here">
                                                <div class="hint-block"></div>
                                            </div>
                                        </div>


                                        <div class="form-group no-border">
                                            <div>
                                                <button type="submit"
                                                    class="dynamic_submit_btn button button-outline button-outline-white mt-30">Submit</button>
                                            </div>
                                        </div>


                                        <!-- </div> -->
                                    </div>
                                </div>

                            </form>



                        </div>
                    </div>
                </div>
            </div>
        </section>




        <footer class="site-main-footer">
            <div class="inner-addon right-addon" style="display: none;">
                <i class="glyphicon glyphicon-search"></i>
                <input style="border-radius: 1.5rem;height:50px" id="search-bar"
                    placeholder="Type the Project name or Location">
            </div>
            <div class="footer-bottom">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="line"></div>
                                    <div class="copyright">
                                        <p>&copy; 2024 Harmony.</p>
                                        <p>Designed &amp; Developed by
                                            <a class="hover-line" href="https://itsheba24.com/" target="_blank">IT
                                                SHEBA</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="footer-social-wrapper pull-right">
                                        <a target="_blank" href="">
                                            <img src="assets/img/facebook-icon.png" alt="Harmonyholdings-fb-page">
                                        </a>
                                        <a target="_blank" href="">
                                            <img src="assets/img/instagram-icon.png"
                                                alt="Harmonyholdings-instagram-page">
                                        </a>
                                        <a target="_blank" href="">
                                            <img src="assets/img/youtube-icon.png" alt="Harmonyholdings-youtube-page">
                                        </a>
                                        <a target="_blank" href="">
                                            <img src="assets/img/pinterest-icon.png"
                                                alt="Harmonyholdings-pinterest-page">
                                        </a>
                                    </div>
                                    <a href="#top" class="animate-scroll scroll-up" style="z-index: 999;">
                                        <img src="assets/img/icons/arrow-down.svg" alt="down arrow">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <script src="assets/js/yiiframework.js"></script>
    <script src="assets/js/yii.activeForm.js"></script>
    <script src="assets/js/upload.js"></script>
    <script src="assets/js/layerslider.transitions.js"></script>
    <script src="assets/js/layerslider.js"></script>
    <script src="assets/js/min/bundle.min.js"></script>
    <script src="assets/js/lg-video.js"></script>
    <script src="assets/js/yt-lazyload.min.js"></script>
    <script src="assets/js/script.js"></script>

</body>

</html>