<!DOCTYPE html>
<html lang="en-US">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Harmony</title>
    <link rel="shortcut icon" href="assets/img/favicon.png">
    <meta name="keywords"
        content="Harmony. aspires to weave an unprecedented experience of fine living cocooned in comfort for you. It’s the statement of prestige and elegant Architecture that sets us apart.">
    <meta name="description"
        content="Harmony. aspires to weave an unprecedented experience of fine living cocooned in comfort for you. It’s the statement of prestige and elegant Architecture that sets us apart.">
    <link href="assets/css/home-map/mapbd.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="preconnect">
    <link href="assets/css/bundle.mined.css" rel="stylesheet" media="all">
    <link href="assets/css/layerslider.min.css" rel="stylesheet" media="all">
    <link href="assets/css/lightbox/ekko-lightbox.min.css" rel="stylesheet">
    <link href="assets/css/style.css" rel="stylesheet" media="all">
    <link href="assets/css/yt-lazyloadc.css" rel="stylesheet" media="all">
    <script src="assets/js/jquery.min.js"></script>

</head>

<body class="bodyclass ">
    <script>
        var site_url_info = {
            baseUrl: 'https://http://harmony-bd.com/',
            Url: 'https://http://harmonybd.com/'
        }
    </script>
    <!-- Google Tag Manager (noscript) -->

    <div class="site-main-wrapper ">
        <div class="animsition open-menu-position">
            <!-- Header -->
            <!-- ============================================= -->
            <div class="menu-fixed-light menu-dark-mobiles">
                <!-- Notice the menu-fixed-light class -->
                <header class="header-wrapper header-transparent header-transparent-light">
                    <div class="main-header">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="menu-wrapper">
                                            <div class="logo-wrapper">
                                                <a href="index.html" class="logo">
                                                    <img src="assets/img/harmony-logo.jpeg" class="logo-img logo-dark"
                                                        alt="Logo">
                                                </a>
                                            </div>

                                            <a href="#menu" class="btn btn-dark btn-lg mobile-menu-bar">
                                                <img src="assets/img/icons/menu.svg" alt="hamburger icon">
                                            </a>

                                            <nav class="navbar-right">
                                                <ul class="menu">
                                                    <li>
                                                        <a class="active" href="index.html">
                                                            <span>Home</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span>About us</span>
                                                        </a>
                                                        <ul class="submenu" style="display: none;">
                                                            <li>
                                                                <a href="our-story.html">Our Story</a>
                                                            </li>
                                                            <li>
                                                                <a href="vision-mission--values.html">Vision,
                                                                    Mission Values</a>
                                                            </li>
                                                            <li>
                                                                <a href="board-of-directors.html">Board of
                                                                    Directors</a>
                                                            </li>
                                                            <li>
                                                                <a href="management-team.html">Management
                                                                    Team</a>
                                                            </li>
                                                            <li>
                                                                <a href="companies.html">Companies</a>
                                                            </li>
                                                            <li>
                                                                <a href="our-clients.html">Our Clients</a>
                                                            </li>
                                                            <li>
                                                                <a href="csr.html">CSR</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span>Projects</span>
                                                        </a>
                                                        <ul class="submenu" style="display: none;">
                                                            <li>
                                                                <a href="ongoing.html">Ongoing</a>
                                                            </li>
                                                            <li>
                                                                <a href="upcoming.html">Upcoming</a>
                                                            </li>
                                                            <li>
                                                                <a href="completed.html">Completed</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="news.html">
                                                            <span>News &amp; Events</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="career.html">
                                                            <span>Career</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span>Contact</span>
                                                        </a>
                                                        <ul class="submenu" style="display: none;">
                                                            <li>
                                                                <a href="landowners.html">Landowners</a>
                                                            </li>
                                                            <li>
                                                                <a href="buyers.html">Buyers</a>
                                                            </li>
                                                            <li>
                                                                <a href="customers.html">Customers</a>
                                                            </li>
                                                            <li>
                                                                <a href="contact-us.html">Contact Us</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a class="open-search-menu" href="#search">
                                                            <span>
                                                                <img src="assets/img/icons/search.svg" alt="">
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Main-Header -->
                </header>

            </div>

            <!-- Mobile Menu -->
            <nav id="menu" class="mmenu-mobile" style="display: none;">
                
                <ul class="listview-icons">
                    <li>
                        <a href="index.html">
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>About Us</span>
                        </a>
                        <ul>
                            <li><a href="our-story.html">Our Story</a></li>
                            <li><a href="vision-mission--values.html">Vision, Mission & Values</a></li>
                            <li><a href="board-of-directors.html">Board of Directors</a></li>
                            <li><a href="management-team.html">Management Team</a></li>
                            <li><a href="companies.html">Companies</a></li>
                            <li><a href="our-clients.html">Our Clients</a></li>
                            <li><a href="csr.html">CSR</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <span>Projects</span>
                        </a>
                        <ul>
                            <li><a href="ongoing.html">Ongoing</a></li>
                            <li><a href="upcoming.html">Upcoming</a></li>
                            <li><a href="completed.html">Completed</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="news.html"><span>News & Events</span></a>
                    </li>
                    <li>
                        <a href="career.html"><span>Career</span></a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Contact</span>
                        </a>
                        <ul>
                            <li><a href="landowners.html">Landowners</a></li>
                            <li><a href="buyers.html">Buyers</a></li>
                            <li><a href="customers.html">Customers</a></li>
                            <li><a href="contact-us.html">Contact Us</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="open-search-menu" href="#search">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-265 377 40 40"
                                style="enable-background:new -265 377 40 40;" xml:space="preserve">
                                <g id="XMLID_86_">
                                    <rect id="XMLID_90_" x="-265" y="377" class="st0" width="40" height="40"></rect>
                                    <g id="search">
                                        <g id="XMLID_117_">
                                            <path id="XMLID_456_" class="st1" d="M-232.3,408.4l-6.3-6.3c1.6-1.9,2.6-4.4,2.6-7.1c0-6.1-4.9-11-11-11s-11,4.9-11,11
                                        s4.9,11,11,11c2.7,0,5.2-1,7.1-2.6l6.3,6.3c0.4,0.4,1,0.4,1.3,0C-231.9,409.3-231.9,408.7-232.3,408.4z M-247,404c-5,0-9-4-9-9
                                        s4-9,9-9s9,4,9,9S-242,404-247,404z">
                                            </path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            Search
                        </a>
                    </li>
                    <li class="social-links">
                        <a href="#" target="_blank" class="facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" target="_blank" class="twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" target="_blank" class="linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="#" target="_blank" class="youtube">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- End of Mobile Menu -->

        </div>
        <header class="site-main-header">
            <div class="menu-overlay search-result-menu " ng-app="Harmony" ng-controller="searchCtrl">
                <div class="pull-right hamburger hamburger-close ">
                    <a href="#">
                        <img src="assets/img/icons/Close.svg" alt="close icon">
                    </a>
                </div>
                <div class="menu-column column-left has-inner-scroller "
                    style="background-image: url(assets/img/images/menu-1.jpg);">
                    <div class="menu-column-gap">
                        <div class="column-title-container">
                        </div>
                    </div>
                    <div class="menu-column-gap inner-scroller mcustom-scrollar">
                        <h1 class="heading-secondary text-white mb-50 ">
                            search projects
                        </h1>
                        <div class="text-white">
                            <p>Confidence is essential when choosing a contractor to provide the services you require,
                                as no two projects are ever the same.</p>
                        </div>
                    </div>
                </div>
                <div class="menu-column column-middle has-inner-scroller">
                    <div class="menu-column-gap inner-scroller mcustom-scrollar">
                        <form class="form-primary text-white custom-select">
                            <div class="form-group">
                                <div>
                                    <label for="">By Project</label>
                                    <input type="text" placeholder="Type the project name" ng-model="search.name">
                                </div>
                            </div>

                            <div class="form-group">
                                <div>
                                    <label for="">By Location</label>
                                    <select name="search.address" id="search.address" ng-model="search.address">
                                        <option value="">Any Location</option>
                                        <option value="Gulshan">Gulshan</option>
                                        <option value="Mohammadpur">Mohammadpur</option>
                                        <option value="Dhanmondi">Dhanmondi</option>
                                        <option value="Banani">Banani</option>
                                        <option value="Dhaka Cantonment">Dhaka Cantonment</option>
                                        <option value="Baridhara">Baridhara</option>
                                        <option value="Banani DOHS">Banani DOHS</option>
                                        <option value="Uttara">Uttara</option>
                                        <option value="Tejgaon">Tejgaon</option>
                                        <option value="Paribagh">Paribagh</option>
                                        <option value="Indira Road">Indira Road</option>
                                        <option value="New Eskaton">New Eskaton</option>
                                        <option value="New Baily Road">New Baily Road</option>
                                        <option value="Banasree">Banasree</option>
                                        <option value="Mirpur DOHS">Mirpur DOHS</option>
                                        <option value="Baily Road">Baily Road</option>
                                        <option value="Bashundhara R/A">Bashundhara R/A</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class=''>
                                    <label for="search.size">By Size (Sft)
                                    </label>
                                    <select name="search.size" id="search.size" ng-model="size">
                                        <option value="">All Size</option>
                                        <option value="600-1000">BELOW 1000</option>
                                        <option value="1001-1500">1000 - 1500</option>
                                        <option value="1501-2000">1500 - 2000</option>
                                        <option value="2001-2500">2000 - 2500</option>
                                        <option value="2601-3000">2500 - 3000</option>
                                        <option value="3001-15000">ABOVE 3000</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label for="search.type">By Type</label>
                                    <select name="search.type" id="search.type" ng-model="search.type">
                                        <option value="">All Type</option>
                                        <option value="residential">Residential</option>
                                        <option value="commercial">Commercial</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="menu-column column-right text-white has-inner-scroller">
                    <div class="menu-column-gap">
                        <div class="column-title-container">
                            <div ng-show="filteredResults.length == 0">
                                Sorry no result found !
                            </div>
                        </div>
                    </div>
                    <div class="menu-column-gap inner-scroller mcustom-scrollar">
                        <div class="full-height-desktop">
                            <ul class="search-result-list">
                                <li
                                    ng-repeat="result in filteredResults = (results | filter:search | filter:searchSize ) | orderBy:name">
                                    <a ng-href="{{result.link}}">
                                        <div class="search-thumb-wrapper">
                                            <div class="search-thumb"
                                                ng-style="{'background-image':'url({{result.image}})'}"></div>
                                        </div>
                                        <div class="search-meta">
                                            <h3 class="search-item-title">{{result.name | makeUpper}}</h3>
                                            <div class="search-item-subtitle">{{result.address}}</div>

                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>



        <!-- banner-slider section -->
        <div class="banner-slider-wrapper">
            <a href="#lands-to-landmark" class="animate-scroll scroll-down">
                <img src="assets/img/arrow-down.svg" alt="down arrow">
            </a>
            <div id="layerslider" class="fitvidsignore" style="width:100%; height:100%;">
                <div data-color="#837B10" class="ls-slide banner-slider-item slider_topper"
                    data-ls="slidedelay:5500;transition2d:12;">
                    <img src="assets/img/harmony-img/slider1.jpg" class="ls-bg" alt="img-harmony">
                </div>
                <div data-color="#837B10" class="ls-slide banner-slider-item slider_topper"
                    data-ls="slidedelay:5500;transition2d:12;">
                    <img src="assets/img/harmony-img/slider2.jpg" class="ls-bg" alt="img-harmony">
                </div>
                <div data-color="#837B10" class="ls-slide banner-slider-item slider_topper"
                    data-ls="slidedelay:5500;transition2d:12;">
                    <img src="assets/img/harmony-img/slide3.jpg" class="ls-bg" alt="img-harmony">
                </div>
                <div data-color="#837B10" class="ls-slide banner-slider-item slider_topper"
                    data-ls="slidedelay:5500;transition2d:12;">
                    <img src="assets/img/harmony-img/slider4.jpg" class="ls-bg" alt="img-harmony">
                </div>
                <div data-color="#837B10" class="ls-slide banner-slider-item slider_topper"
                    data-ls="slidedelay:5500;transition2d:12;">
                    <img src="assets/img/harmony-img/slider5.jpg" class="ls-bg" alt="img-harmony">
                </div>
                <div data-color="#837B10" class="ls-slide banner-slider-item slider_topper"
                    data-ls="slidedelay:5500;transition2d:12;">
                    <img src="assets/img/harmony-img/slider6.jpg" class="ls-bg" alt="img-harmony">
                </div>
                <div data-color="#837B10" class="ls-slide banner-slider-item slider_topper"
                    data-ls="slidedelay:5500;transition2d:12;">
                    <img src="assets/img/harmony-img/slider7.jpg" class="ls-bg" alt="img-harmony">
                </div>
                <div data-color="#837B10" class="ls-slide banner-slider-item slider_topper"
                    data-ls="slidedelay:5500;transition2d:12;">
                    <img src="assets/img/harmony-img/slider8.jpg" class="ls-bg" alt="img-harmony">
                </div>
            </div>

            <div class="circle-menu inactive">
                <div class="circle-inner">
                    <h2 class="slogan">
                        <span>Setting Standards</span>
                        <span>Explore</span>
                    </h2>
                </div>
                <ul class="circle-text text-uppercase">
                    <li>
                        <a href="ongoing-flat.html"> &nbsp; Ongoing &nbsp; |</a>
                    </li>

                    <li>
                        <a href="completed.html">&nbsp; Completed &nbsp; | &nbsp;</a>
                    </li>

                    <li>
                        <a href="upcoming.html">&nbsp;Upcoming</a>
                    </li>

                </ul>
                <div class="circle-bg"></div>

            </div>
        </div>
        <!-- banner-slider end -->
        <section id="lands-to-landmark" class="section-gap parallax-container" data-stellar-background-ratio="0.1"
            style="background-image: url(assets/img/cy-sketch.jpg)">
            <div class="container-fluid">
                <div class="row mb-40">
                    <div class="col-sm-7 col-md-12">
                        <h2 class="heading-primary style-1">WITNESS, AS WE TRANSFORM <br>A LANDMARK ON YOUR PROPERTY
                        </h2>
                        <p>Collaborate with the top Craftsman to turn your property into a remarkable piece of art with
                            exceptional quality.</p>
                    </div>
                </div>


                <div class="row">
                    <div class="col-xs-12">
                        <div class="carousel-wrapper has-shadow">
                            <div class="carousel-primary slick-theme">

                                <div class="carousel-item">
                                    <div class="inner">
                                        <a href="ongoing-flat.html">
                                            <div class="image-thumb high-contrast">
                                                <img src="assets/img/harmony-img/flat1.png" alt="Aura" title="Aura">
                                            </div>
                                            <h3 class="title">Aura</h3>
                                            <h5 class="sub-title">Road 83, Gulshan</h5>
                                            <span class="read-more">
                                                Residential </span>

                                        </a>
                                    </div>
                                </div>


                                <div class="carousel-item">
                                    <div class="inner">
                                        <a href="ongoing-flat.html">
                                            <div class="image-thumb high-contrast">
                                                <img src="assets/img/harmony-img/flat2.png" alt="The Sanctum"
                                                    title="The Sanctum">
                                            </div>
                                            <h3 class="title">The Sanctum</h3>
                                            <h5 class="sub-title">Road 81, Gulshan</h5>
                                            <span class="read-more">
                                                Residential </span>
                                        </a>
                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <div class="inner">
                                        <a href="ongoing-flat.html">
                                            <div class="image-thumb high-contrast">
                                                <img src="assets/img/harmony-img/flat3.png" alt="Zephyr" title="Zephyr">
                                            </div>
                                            <h3 class="title">Zephyr</h3>
                                            <h5 class="sub-title">Road 100 & 103, Gulshan</h5>
                                            <span class="read-more">
                                                Residential </span>

                                        </a>
                                    </div>
                                </div>

                                <div class="carousel-item">
                                    <div class="inner">
                                        <a href="ongoing-flat.html">
                                            <div class="image-thumb high-contrast">
                                                <img src="assets/img/harmony-img/flat4.png" alt="Affinity"
                                                    title="Affinity">
                                            </div>
                                            <h3 class="title">Affinity</h3>
                                            <h5 class="sub-title">Road 11, Baridhara</h5>
                                            <span class="read-more">
                                                Residential </span>

                                        </a>
                                    </div>
                                </div>


                                <div class="carousel-item">
                                    <div class="inner">
                                        <a href="ongoing-flat.html">
                                            <div class="image-thumb high-contrast">
                                                <img src="assets/img/harmony-img/flat5.png" alt="Adore" title="Adore">
                                            </div>
                                            <h3 class="title">Adore</h3>
                                            <h5 class="sub-title">Road 43, Gulshan</h5>
                                            <span class="read-more">
                                                Residential </span>

                                        </a>
                                    </div>
                                </div>


                                <div class="carousel-item">
                                    <div class="inner">
                                        <a href="ongoing-flat.html">
                                            <div class="image-thumb high-contrast">
                                                <img src="assets/img/harmony-img/flat6.png" alt="Divine" title="Divine">
                                            </div>
                                            <h3 class="title">Divine</h3>
                                            <h5 class="sub-title">56, UN Road, Baridhara</h5>
                                            <span class="read-more">
                                                Residential </span>

                                        </a>
                                    </div>
                                </div>


                                <div class="carousel-item">
                                    <div class="inner">
                                        <a href="ongoing-flat.html">
                                            <div class="image-thumb high-contrast">
                                                <img src="assets/img/harmony-img/flat7.png" alt="Evermore"
                                                    title="Evermore">
                                            </div>
                                            <h3 class="title">Evermore</h3>
                                            <h5 class="sub-title">Road 75 and 80, Gulshan</h5>
                                            <span class="read-more">
                                                Residential </span>

                                        </a>
                                    </div>
                                </div>

                            </div>
                            <div class="carousel-nav">
                                <img class='prev slick-prev' src='assets/img/icons/arrow_Dark_left.svg'
                                    data-src='assets/img/icons/arrow_colored_left.svg' alt="Arrow left">
                                <img class='next slick-next' src='assets/img/icons/arrow_Dark_right.svg'
                                    data-src='assets/img/icons/arrow_colored_right.svg' alt="Arrow right">
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </section>


        <section class="section-gap pt-100 bg-light-grey why-us pb-0 bg-cover-center parallax-container parallax-img"
            data-stellar-background-ratio="0.1" style="background-image: url(assets/img/harmony-img/background.jpg);"
            data-image-src="assets/img/harmony-img/background.jpg">
            <div class="container-fluid">
                <div class="mb-30 hide">
                    <h2 class="heading-primary  text-white">
                        WHY Harmony HOLDINGS </h2>
                </div>
                <div class="row pt-70 mobile-pt-0">
                    <div class="col-sm-6 col-md-5 ">
                        <h2 class="heading-primary  text-white">
                            WHY Harmony HOLDINGS </h2>
                        <div class="text-white">
                            <p>Harmony wants to provide you with a luxurious, comfortable, and unmatched living
                                experience. What distinguishes us is our statement of elegance and prestige in
                                architecture.
                            </p>
                        </div>
                        <div class="mb-30">
                            <a href="who-we-are.html"
                                class="hidden-xs button button-outline button-outline-white mtb-30">
                                Explore
                            </a>
                        </div>

                       
                    </div>
                    <div class="col-sm-6 col-md-6 col-md-offset-1 mb-70 mobile-mb-0">
                        <div class="bordered-tiles our-specility-lightbox-wrapper mobile-mb-0 stagger-wrapper mb-0">
                            <div class="row  parent">

                                <div class="col-xs-4 col-sm-6 col-md-4 borderd-tile-item mb-30 no-border sm">
                                    <a href="#specility-lightbox-1" class="lbox-btn">
                                        <div class="inner">
                                            <div class="content">
                                                <div class="table-all">
                                                    <span class="vertical-center">
                                                        <span class="tile-text">
                                                            Prime Locations </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-xs-4 col-sm-6 col-md-4 borderd-tile-item mb-30 no-border sm">
                                    <a href="#specility-lightbox-2" class="lbox-btn">
                                        <div class="inner">
                                            <div class="content">
                                                <div class="table-all">
                                                    <span class="vertical-center">
                                                        <span class="tile-text">
                                                            Top Consultants </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-xs-4 col-sm-6 col-md-4 borderd-tile-item mb-30 no-border sm">
                                    <a href="#specility-lightbox-3" class="lbox-btn">
                                        <div class="inner">
                                            <div class="content">
                                                <div class="table-all">
                                                    <span class="vertical-center">
                                                        <span class="tile-text">
                                                            Highest Quality Materials </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-xs-4 col-sm-6 col-md-4 borderd-tile-item mb-30 no-border sm">
                                    <a href="#specility-lightbox-4" class="lbox-btn">
                                        <div class="inner">
                                            <div class="content">
                                                <div class="table-all">
                                                    <span class="vertical-center">
                                                        <span class="tile-text">
                                                            Uncompromising Safety </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-xs-4 col-sm-6 col-md-4 borderd-tile-item mb-30 no-border sm">
                                    <a href="#specility-lightbox-5" class="lbox-btn">
                                        <div class="inner">
                                            <div class="content">
                                                <div class="table-all">
                                                    <span class="vertical-center">
                                                        <span class="tile-text">
                                                            On-time Delivery </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>

                                <div class="col-xs-4 col-sm-6 col-md-4 borderd-tile-item mb-30 no-border sm">
                                    <a href="#specility-lightbox-6" class="lbox-btn">
                                        <div class="inner">
                                            <div class="content">
                                                <div class="table-all">
                                                    <span class="vertical-center">
                                                        <span class="tile-text">
                                                            Professional Management </span>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </a>
                                </div>


                            </div>
                            <div class="visible-xs ">
                                <a href="why-harmony-holdings.html"
                                    class="button button-outline button-outline-white mt-30 mb-100">
                                    Explore
                                </a>
                            </div>
                            <div class="lightbox-content-wrapper">

                                <div id="specility-lightbox-1" class="specility-lightbox-item text-left bg-white ">
                                    <a href="#" class="close-lightbox text-30">
                                        <img src="assets/img/icons/global-menu-close-black.svg" alt="close">
                                    </a>
                                    <div class="inner">
                                        <h3 class="title text-18 mb-20">Prime Locations</h3>
                                        <div class="desc">
                                            <p>We offer a selection from the most lucrative locations across the city.
                                                Our project locations are selected intelligently, keeping in mind the
                                                things that matter to you most.</p>
                                        </div>
                                    </div>
                                </div>


                                <div id="specility-lightbox-2" class="specility-lightbox-item text-left bg-white ">
                                    <a href="#" class="close-lightbox text-30">
                                        <img src="assets/img/icons/global-menu-close-black.svg" alt="close">
                                    </a>
                                    <div class="inner">
                                        <h3 class="title text-18 mb-20">Top Consultants</h3>
                                        <div class="desc">
                                            We engage the leading consultants in their respective fields from both home
                                            and abroad, to ensure that every facet of a project is designed to
                                            perfection. After all, the best designs can only come from the best minds.
                                        </div>
                                    </div>
                                </div>


                                <div id="specility-lightbox-3" class="specility-lightbox-item text-left bg-white ">
                                    <a href="#" class="close-lightbox text-30">
                                        <img src="assets/img/icons/global-menu-close-black.svg" alt="close">
                                    </a>
                                    <div class="inner">
                                        <h3 class="title text-18 mb-20">Highest Quality Materials</h3>
                                        <div class="desc">
                                            <p>We continuously explore material sourcing globally to enhance the comfort
                                                and lifestyle of our clients.
                                                Each material used in our projects is selected with the utmost attention
                                                to quality, suitability and
                                                durability.</p>
                                        </div>
                                    </div>
                                </div>


                                <div id="specility-lightbox-4" class="specility-lightbox-item text-left bg-white ">
                                    <a href="#" class="close-lightbox text-30">
                                        <img src="assets/img/icons/global-menu-close-black.svg" alt="close">
                                    </a>
                                    <div class="inner">
                                        <h3 class="title text-18 mb-20">Uncompromising Safety</h3>
                                        <div class="desc">
                                            <p>Our priority to safety is second to none. Structural, electro-mechanical
                                                and fire safety stand paramount in our planning and construction
                                                methodology, in order to ensure your safety in your sanctuary.</p>
                                        </div>
                                    </div>
                                </div>


                                <div id="specility-lightbox-5" class="specility-lightbox-item text-left bg-white ">
                                    <a href="#" class="close-lightbox text-30">
                                        <img src="assets/img/icons/global-menu-close-black.svg" alt="close">
                                    </a>
                                    <div class="inner">
                                        <h3 class="title text-18 mb-20">On-time Delivery</h3>
                                        <div class="desc">
                                            <p>Our experienced team of highly qualified engineers and management
                                                professionals work relentlessly in
                                                perfect synergy. At Harmony, delivering uncompromised quality, on time,
                                                has become our mantra.</p>
                                        </div>
                                    </div>
                                </div>


                                <div id="specility-lightbox-6" class="specility-lightbox-item text-left bg-white ">
                                    <a href="#" class="close-lightbox text-30">
                                        <img src="assets/img/icons/global-menu-close-black.svg" alt="close">
                                    </a>
                                    <div class="inner">
                                        <h3 class="title text-18 mb-20">Professional Management</h3>
                                        <div class="desc">
                                            <p>A safe, clean and comfortable living environment can only be maintained
                                                by a team of professionals with an eye for perfection. Our Facility
                                                Management team will ensure your desire to live in a beautiful community
                                                remains fulfilled.</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Map Locator -->

        <section id="map-location" class="location-map-wrapper section-gap">
            <div class="container-fluid" style="margin-bottom: 40px">
                <div class="row">
                    <div class="col-sm-3">
                        <h1 class="heading-primary style-1">
                            OUR PROJECTS
                        </h1>
                    </div>
                    <div class="col-sm-5" style="margin-bottom: 10px;">
                        <div class="inner-addon right-addon">
                            <i class="glyphicon glyphicon-search"></i>
                            <input style="border-radius: 1.5rem;height:50px" type="text"
                                class="form-control map-search-bar" id="search-bar"
                                placeholder="Type the Project name or Location">
                        </div>
                    </div>
                    <div class="col-md-2">
                        <select style="border-radius: 1.5rem;height:50px;margin-bottom: 10px" name=""
                            id="productCategory" class="form-control">
                            <option value="">Project Status</option>
                            <option value="4">Ongoing</option>
                            <option value="7">Upcoming</option>
                            <option value="8">Completed</option>
                        </select>
                    </div>
                    <div class="col-md-2 mt-1">
                        <select style="border-radius: 1.5rem;height:50px;" name="" id="subCategory"
                            class="form-control">
                            <option value="">Project Type</option>
                            <option value="residential">Residential</option>
                            <option value="commercial">Commercial</option>
                        </select>
                    </div>
                </div>
            </div>

            <div id="map" class="location-map-holder">
                <a href="https://maps.app.goo.gl/UVND17n8Qo6ThsiF7" id="loadMap">click to load the map</a>
            </div>
        </section>

        <!-- youtube and instra img and slider  section-->
        <section class="section-gap  bg-light-grey">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-6">
                        <h2>
                            <span><img class="social-icon" src="assets/img/youtube-icon.png"
                                    alt="Youtube">Youtube</span>
                        </h2>

                        <div class="youtube-wrapper">
                            <div class="yt-lazyload">
                                <iframe src="https://www.youtube.com/embed/ATngEtH39eU?si=ONfjYwF4eR3-g0Z_"
                                    title="YouTube video player" frameborder="0"
                                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                    allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h2 class="">
                            <span><img class="social-icon" src="assets/img/instagram-icon.png"
                                    alt="Instagram">Instagram</span>
                        </h2>
                        <div id="instagram-gallery" class="social-feed social-feed-instagram row no-margin">
                            <a href="https://www.instagram.com/itsheba.24/" target="_blank">
                                <img src="assets/img/harmony-img/instra-img.JPG" width="100%">
                            </a>
                        </div>
                    </div>
                </div>

                <div class="premierProjectWrapper carousel-wrapper">
                    <div class="premierProject premierInit">
                        <div class="premierProject__single">

                            <a class="tvc-btn" target="_blank" href="">
                                <img src="assets/img/harmony-img/banner3.png" style="width:100%;" alt="">
                            </a>
                        </div>
                        <div class="premierProject__single">

                            <a class="tvc-btn" target="_blank" href="">
                                <img src="assets/img/harmony-img/banner2.png" style="width:100%;" alt="">
                            </a>
                        </div>
                        <div class="premierProject__single">

                            <a class="tvc-btn" target="_blank" href="">
                                <img src="assets/img/harmony-img/banner.png" style="width:100%;" alt="">
                            </a>
                        </div>
                    </div>
                    <div class="carousel-nav">
                        <img class='prev slick-prev' src='assets/img/arrow-left.svg'
                            data-src='assets/img/arrow-left.svg ' alt="Arrow left">
                        <img class='next slick-next' src='assets/img/arrow_Dark_left.svg'
                            data-src='assets/img/arrow_Dark_left.svg' alt="Arrow right">
                    </div>
                </div>

            </div>
        </section>

        <footer class="site-main-footer">
            <!-- Landing footer -->
            <div class="footer-top parallax-container" data-stellar-background-ratio="0.1"
                style="background-image: url(https://novindevelopment.com/wp-content/uploads/2014/09/building1.jpg);">
                <div class="container-fluid">
                    <div class="box-parent three-items">
                        <div class="box ">
                            <a href="landowners.html">
                                <div class="inner">
                                    <h3 class="title">Landowners</h3>
                                    <p>Meet the professionals</p>
                                </div>
                            </a>
                        </div>
                        <div class="box ">
                            <a href="buyers.html">
                                <div class="inner">
                                    <h3 class="title">Buyers</h3>
                                    <p>Explore the options</p>
                                </div>
                            </a>
                        </div>
                        <div class="box ">
                            <a href="customers.html">
                                <div class="inner">
                                    <h3 class="title">Customers</h3>
                                    <p>Share your feedback</p>
                                </div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>



            <div class="footer-bottom">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="line"></div>
                                    <div class="copyright">
                                        <p>&copy; 2024 Harmony.</p>
                                        <p>Designed &amp; Developed by
                                            <a class="hover-line" href="https://itsheba24.com/" target="_blank">IT
                                                SHEBA</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="footer-social-wrapper pull-right">
                                        <a target="_blank" href="">
                                            <img src="assets/img/facebook-icon.png" alt="Harmonyholdings-fb-page">
                                        </a>
                                        <a target="_blank" href="">
                                            <img src="assets/img/instagram-icon.png"
                                                alt="Harmonyholdings-instagram-page">
                                        </a>
                                        <a target="_blank" href="">
                                            <img src="assets/img/youtube-icon.png" alt="Harmonyholdings-youtube-page">
                                        </a>
                                        <a target="_blank" href="">
                                            <img src="assets/img/pinterest-icon.png"
                                                alt="Harmonyholdings-pinterest-page">
                                        </a>
                                    </div>
                                    <a href="#top" class="animate-scroll scroll-up" style="z-index: 999;">
                                        <img src="assets/img/icons/arrow-down.svg" alt="down arrow">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <script src="assets/js/yiiframework.js"></script>
    <script src="assets/js/yii.activeForm.js"></script>
    <script src="assets/js/upload.js"></script>
    <script src="assets/js/layerslider.transitions.js"></script>
    <script src="assets/js/layerslider.js"></script>
    <script src="assets/js/min/bundle.min.js"></script>
    <script src="assets/js/lg-video.js"></script>
    <script src="assets/js/yt-lazyload.min.js"></script>
    <script src="assets/js/script.js"></script>

</body>

</html>