<!DOCTYPE html>
<html lang="en-US">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Harmony</title>
    <link rel="shortcut icon" href="assets/img/favicon.png">
    <meta name="keywords"
        content="Harmony. aspires to weave an unprecedented experience of fine living cocooned in comfort for you. It’s the statement of prestige and elegant Architecture that sets us apart.">
    <meta name="description"
        content="Harmony. aspires to weave an unprecedented experience of fine living cocooned in comfort for you. It’s the statement of prestige and elegant Architecture that sets us apart.">
    <link href="assets/css/lightbox/ekko-lightbox.min.css" rel="stylesheet">
    <link href="assets/css/home-map/mapbd.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="preconnect">
    <link href="assets/css/bundle.mined.css" rel="stylesheet" media="all">
    <link href="assets/css/layerslider.min.css" rel="stylesheet" media="all">
    <link href="assets/css/style.css" rel="stylesheet" media="all">
    <link href="assets/css/yt-lazyloadc.css" rel="stylesheet" media="all">
    <script src="assets/js/jquery.min.js"></script>

</head>

<body class="bodyclass ">
    <script>
        var site_url_info = {
            baseUrl: 'https://http://harmony-bd.com/',
            Url: 'https://http://harmonybd.com/'
        }
    </script>
    <!-- Google Tag Manager (noscript) -->
    <div class="site-main-wrapper ">
        <div class="animsition open-menu-position">
            <!-- Header -->
            <!-- ============================================= -->
            <div class="menu-fixed-light menu-dark-mobiles">
                <!-- Notice the menu-fixed-light class -->
                <header class="header-wrapper header-transparent header-transparent-light">
                    <div class="main-header">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="menu-wrapper">
                                            <div class="logo-wrapper">
                                                <a href="index.html" class="logo">
                                                    <img src="assets/img/harmony-logo.jpeg" class="logo-img logo-dark"
                                                        alt="Logo">
                                                </a>
                                            </div>

                                            <a href="#menu" class="btn btn-dark btn-lg mobile-menu-bar">
                                                <img src="assets/img/icons/menu.svg" alt="hamburger icon">
                                            </a>

                                            <nav class="navbar-right">
                                                <ul class="menu">
                                                    <li>
                                                        <a href="index.html">
                                                            <span>Home</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span>About us</span>
                                                        </a>
                                                        <ul class="submenu" style="display: none;">
                                                            <li>
                                                                <a href="our-story.html">Our Story</a>
                                                            </li>
                                                            <li>
                                                                <a href="vision-mission--values.html">Vision,
                                                                    Mission Values</a>
                                                            </li>
                                                            <li>
                                                                <a href="board-of-directors.html">Board of
                                                                    Directors</a>
                                                            </li>
                                                            <li>
                                                                <a href="management-team.html">Management
                                                                    Team</a>
                                                            </li>
                                                            <li>
                                                                <a href="companies.html">Companies</a>
                                                            </li>
                                                            <li>
                                                                <a href="our-clients.html">Our Clients</a>
                                                            </li>
                                                            <li>
                                                                <a href="csr.html">CSR</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a class="active" href="#">
                                                            <span>Projects</span>
                                                        </a>
                                                        <ul class="submenu" style="display: none;">
                                                            <li>
                                                                <a href="ongoing.html">Ongoing</a>
                                                            </li>
                                                            <li>
                                                                <a href="upcoming.html">Upcoming</a>
                                                            </li>
                                                            <li>
                                                                <a href="completed.html">Completed</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="news.html">
                                                            <span>News &amp; Events</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="career.html">
                                                            <span>Career</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span>Contact</span>
                                                        </a>
                                                        <ul class="submenu" style="display: none;">
                                                            <li>
                                                                <a href="landowners.html">Landowners</a>
                                                            </li>
                                                            <li>
                                                                <a href="buyers.html">Buyers</a>
                                                            </li>
                                                            <li>
                                                                <a href="customers.html">Customers</a>
                                                            </li>
                                                            <li>
                                                                <a href="contact-us.html">Contact Us</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a class="open-search-menu" href="#search">
                                                            <span>
                                                                <img src="assets/img/icons/search.svg" alt="">
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Main-Header -->
                </header>

            </div>

            <!-- Mobile Menu -->
            <nav id="menu" class="mmenu-mobile" style="display: none;">
                <ul class="listview-icons">
                    <li>
                        <a href="index.html">
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>About Us</span>
                        </a>
                        <ul>
                            <li><a href="our-story.html">Our Story</a></li>
                            <li><a href="vision-mission--values.html">Vision, Mission & Values</a></li>
                            <li><a href="board-of-directors.html">Board of Directors</a></li>
                            <li><a href="management-team.html">Management Team</a></li>
                            <li><a href="companies.html">Companies</a></li>
                            <li><a href="our-clients.html">Our Clients</a></li>
                            <li><a href="csr.html">CSR</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <span>Projects</span>
                        </a>
                        <ul>
                            <li><a href="ongoing.html">Ongoing</a></li>
                            <li><a href="upcoming.html">Upcoming</a></li>
                            <li><a href="completed.html">Completed</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="news.html"><span>News & Events</span></a>
                    </li>
                    <li>
                        <a href="career.html"><span>Career</span></a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Contact</span>
                        </a>
                        <ul>
                            <li><a href="landowners.html">Landowners</a></li>
                            <li><a href="buyers.html">Buyers</a></li>
                            <li><a href="customers.html">Customers</a></li>
                            <li><a href="contact-us.html">Contact Us</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="open-search-menu" href="#search">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-265 377 40 40"
                                style="enable-background:new -265 377 40 40;" xml:space="preserve">
                                <g id="XMLID_86_">
                                    <rect id="XMLID_90_" x="-265" y="377" class="st0" width="40" height="40"></rect>
                                    <g id="search">
                                        <g id="XMLID_117_">
                                            <path id="XMLID_456_" class="st1" d="M-232.3,408.4l-6.3-6.3c1.6-1.9,2.6-4.4,2.6-7.1c0-6.1-4.9-11-11-11s-11,4.9-11,11
                                        s4.9,11,11,11c2.7,0,5.2-1,7.1-2.6l6.3,6.3c0.4,0.4,1,0.4,1.3,0C-231.9,409.3-231.9,408.7-232.3,408.4z M-247,404c-5,0-9-4-9-9
                                        s4-9,9-9s9,4,9,9S-242,404-247,404z">
                                            </path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            Search
                        </a>
                    </li>
                    <li class="social-links">
                        <a href="#" target="_blank" class="facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" target="_blank" class="twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" target="_blank" class="linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="#" target="_blank" class="youtube">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- End of Mobile Menu -->

        </div>
        <header class="site-main-header">
            <div class="menu-overlay search-result-menu " ng-app="Harmony" ng-controller="searchCtrl">
                <div class="pull-right hamburger hamburger-close ">
                    <a href="#">
                        <img src="assets/img/icons/Close.svg" alt="close icon">
                    </a>
                </div>
                <div class="menu-column column-left has-inner-scroller "
                    style="background-image: url(assets/img/images/menu-1.jpg);">
                    <div class="menu-column-gap">
                        <div class="column-title-container">

                        </div>
                    </div>
                    <div class="menu-column-gap inner-scroller mcustom-scrollar">
                        <h1 class="heading-secondary text-white mb-50 ">
                            search projects
                        </h1>
                        <div class="text-white">
                            <p>Confidence is essential when choosing a contractor to provide the services you require,
                                as no two projects are ever the same.</p>
                        </div>
                    </div>
                </div>
                <div class="menu-column column-middle has-inner-scroller">
                    <div class="menu-column-gap inner-scroller mcustom-scrollar">
                        <form class="form-primary text-white custom-select">
                            <div class="form-group">
                                <div>
                                    <label for="">By Project</label>
                                    <input type="text" placeholder="Type the project name" ng-model="search.name">
                                </div>
                            </div>

                            <div class="form-group">
                                <div>
                                    <label for="">By Location</label>
                                    <select name="search.address" id="search.address" ng-model="search.address">
                                        <option value="">Any Location</option>
                                        <option value="Gulshan">Gulshan</option>
                                        <option value="Mohammadpur">Mohammadpur</option>
                                        <option value="Dhanmondi">Dhanmondi</option>
                                        <option value="Banani">Banani</option>
                                        <option value="Dhaka Cantonment">Dhaka Cantonment</option>
                                        <option value="Baridhara">Baridhara</option>
                                        <option value="Banani DOHS">Banani DOHS</option>
                                        <option value="Uttara">Uttara</option>
                                        <option value="Tejgaon">Tejgaon</option>
                                        <option value="Paribagh">Paribagh</option>
                                        <option value="Indira Road">Indira Road</option>
                                        <option value="New Eskaton">New Eskaton</option>
                                        <option value="New Baily Road">New Baily Road</option>
                                        <option value="Banasree">Banasree</option>
                                        <option value="Mirpur DOHS">Mirpur DOHS</option>
                                        <option value="Baily Road">Baily Road</option>
                                        <option value="Bashundhara R/A">Bashundhara R/A</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class=''>
                                    <label for="search.size">By Size (Sft)
                                    </label>
                                    <select name="search.size" id="search.size" ng-model="size">
                                        <option value="">All Size</option>
                                        <option value="600-1000">BELOW 1000</option>
                                        <option value="1001-1500">1000 - 1500</option>
                                        <option value="1501-2000">1500 - 2000</option>
                                        <option value="2001-2500">2000 - 2500</option>
                                        <option value="2601-3000">2500 - 3000</option>
                                        <option value="3001-15000">ABOVE 3000</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label for="search.type">By Type</label>
                                    <select name="search.type" id="search.type" ng-model="search.type">
                                        <option value="">All Type</option>
                                        <option value="residential">Residential</option>
                                        <option value="commercial">Commercial</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="menu-column column-right text-white has-inner-scroller">
                    <div class="menu-column-gap">
                        <div class="column-title-container">
                            <div ng-show="filteredResults.length == 0">
                                Sorry no result found !
                            </div>
                        </div>
                    </div>
                    <div class="menu-column-gap inner-scroller mcustom-scrollar">
                        <div class="full-height-desktop">
                            <ul class="search-result-list">
                                <li
                                    ng-repeat="result in filteredResults = (results | filter:search | filter:searchSize ) | orderBy:name">
                                    <a ng-href="{{result.link}}">
                                        <div class="search-thumb-wrapper">
                                            <div class="search-thumb"
                                                ng-style="{'background-image':'url({{result.image}})'}"></div>
                                        </div>
                                        <div class="search-meta">
                                            <h3 class="search-item-title">{{result.name | makeUpper}}</h3>
                                            <div class="search-item-subtitle">{{result.address}}</div>

                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <section class="banner-secondary projects-cat-banner">
            <div class="container-fluid">
                <h1 class=" style-1">
                    <span>Ongoing<br /></span>
                    Projects in progress
                </h1>
            </div>
        </section>

        <section class="projects-ongoing">
            <div class="container-fluid projects-listings-nav-wrapper">
                <div class="projects-listings">
                    <ul class="sorting-nav controls">
                        <li class="active">
                            <span class="control" data-filter="all">All</span>
                        </li>
                        <li class="control">
                            <span class="control" data-filter=".residential">Residential</span>
                        </li>
                        <li class="control">
                            <span class="control" data-filter=".commercial">Commercial</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="projects-wrapper">
                <div class="clearfix mixitup-container">

                    <!-- residential start -->
                    <div data-ref="mixitup-target"
                        class="mixit-item residential   custom-col-xs-6 col-md-4 col-sm-6 no-pad square">
                        <a href="">
                            <div class="relative" style="overflow: hidden">
                                <p class="soldout">Sold Out!</p>
                                <div class="bg-thumb high-contrast">
                                    <div class="bg-thumb-inner"
                                        style="background-image: url('assets/img/harmony-img/project.jpeg')">

                                    </div>
                                </div>
                                <div class="thumb-desc">
                                    <h4 class="project-name">Starville</h4>
                                    <span class="project-address">Road 48, Gulshan</span>
                                </div>
                            </div>

                            <div class="thumb-overlay">
                                <h4 class="project-name">Starville</h4>
                                <span class="project-address">Road 48, Gulshan</span>
                                <hr class="overlay-line">
                                <p>Who decisively attachment has dispatched. Fruit defer in party me built under first.
                                    Forbade him but savings sending ham general. So play do in near park that pain. </p>
                            </div>
                        </a>
                    </div>


                    <!-- residential end -->

                    <!-- commercial start -->
                    <div data-ref="mixitup-target"
                        class="mixit-item commercial   custom-col-xs-6 col-md-4 col-sm-6 no-pad square">
                        <a href="">
                            <div class="relative" style="overflow: hidden">
                                <p class="soldout">Sold Out!</p>
                                <div class="bg-thumb high-contrast">
                                    <div class="bg-thumb-inner"
                                        style="background-image: url('assets/img/harmony-img/project1.jpeg')">

                                    </div>
                                </div>
                                <div class="thumb-desc">
                                    <h4 class="project-name">Virtue</h4>
                                    <span class="project-address">Uttara</span>
                                </div>
                            </div>

                            <div class="thumb-overlay">
                                <h4 class="project-name">Virtue</h4>
                                <span class="project-address">Uttara</span>
                                <hr class="overlay-line">
                                <p>Who decisively attachment has dispatched. Fruit defer in party me built under first.
                                    Forbade him but savings sending ham general. So play do in near park that pain. </p>
                            </div>
                        </a>
                    </div>
                    <div data-ref="mixitup-target"
                        class="mixit-item commercial   custom-col-xs-6 col-md-4 col-sm-6 no-pad square">
                        <a href="">
                            <div class="relative" style="overflow: hidden">
                                <div class="bg-thumb high-contrast">
                                    <div class="bg-thumb-inner"
                                        style="background-image: url('assets/img/harmony-img/comming-project.jpg')">

                                    </div>
                                </div>
                                <div class="thumb-desc">
                                    <h4 class="project-name">Unnamed</h4>
                                    <span class="project-address">Tejgaon</span>
                                </div>
                            </div>

                            <div class="thumb-overlay">
                                <h4 class="project-name">Unnamed</h4>
                                <span class="project-address">Tejgaon</span>
                                <hr class="overlay-line">
                                <p>Who decisively attachment has dispatched. Fruit defer in party me built under first.
                                    Forbade him but savings sending ham general. So play do in near park that pain. </p>


                            </div>
                        </a>
                    </div>
                    <div data-ref="mixitup-target"
                        class="mixit-item commercial   custom-col-xs-6 col-md-4 col-sm-6 no-pad square">
                        <a href="">
                            <div class="relative" style="overflow: hidden">
                                <div class="bg-thumb high-contrast">
                                    <div class="bg-thumb-inner"
                                        style="background-image: url('assets/img/harmony-img/project2.jpeg')">

                                    </div>
                                </div>
                                <div class="thumb-desc">
                                    <h4 class="project-name">Pinnacle</h4>
                                    <span class="project-address">Tejgaon</span>
                                </div>
                            </div>

                            <div class="thumb-overlay">
                                <h4 class="project-name">Pinnacle</h4>
                                <span class="project-address">Tejgaon</span>
                                <hr class="overlay-line">
                                <p>Who decisively attachment has dispatched. Fruit defer in party me built under first.
                                    Forbade him but savings sending ham general. So play do in near park that pain. </p>
                            </div>
                        </a>
                    </div>



                </div>
            </div>
        </section>



        <footer class="site-main-footer">
            <div class="inner-addon right-addon" style="display: none;">
                <i class="glyphicon glyphicon-search"></i>
                <input style="border-radius: 1.5rem;height:50px" id="search-bar"
                    placeholder="Type the Project name or Location">
            </div>
            <div class="footer-bottom">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="line"></div>
                                    <div class="copyright">
                                        <p>&copy; 2024 Harmony.</p>
                                        <p>Designed &amp; Developed by
                                            <a class="hover-line" href="https://itsheba24.com/" target="_blank">IT
                                                SHEBA</a>
                                        </p>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="footer-social-wrapper pull-right">
                                        <a target="_blank" href="">
                                            <img src="assets/img/facebook-icon.png" alt="Harmonyholdings-fb-page">
                                        </a>
                                        <a target="_blank" href="">
                                            <img src="assets/img/instagram-icon.png"
                                                alt="Harmonyholdings-instagram-page">
                                        </a>
                                        <a target="_blank" href="">
                                            <img src="assets/img/youtube-icon.png" alt="Harmonyholdings-youtube-page">
                                        </a>
                                        <a target="_blank" href="">
                                            <img src="assets/img/pinterest-icon.png"
                                                alt="Harmonyholdings-pinterest-page">
                                        </a>
                                    </div>
                                    <a href="#top" class="animate-scroll scroll-up" style="z-index: 999;">
                                        <img src="assets/img/icons/arrow-down.svg" alt="down arrow">
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>

    </div>

    <script src="assets/js/yiiframework.js"></script>
    <script src="assets/js/yii.activeForm.js"></script>
    <script src="assets/js/upload.js"></script>
    <script src="assets/js/layerslider.transitions.js"></script>
    <script src="assets/js/layerslider.js"></script>
    <script src="assets/js/min/bundle.min.js"></script>
    <script src="assets/js/lg-video.js"></script>
    <script src="assets/js/yt-lazyload.min.js"></script>
    <script src="assets/js/script.js"></script>

</body>

</html>