<!DOCTYPE html>
<html lang="en-US">

<meta http-equiv="content-type" content="text/html;charset=UTF-8" />

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Harmony</title>
    <link rel="shortcut icon" href="assets/img/favicon.png">
    <meta name="keywords"
        content="Harmony. aspires to weave an unprecedented experience of fine living cocooned in comfort for you. It’s the statement of prestige and elegant Architecture that sets us apart.">
    <meta name="description"
        content="Harmony. aspires to weave an unprecedented experience of fine living cocooned in comfort for you. It’s the statement of prestige and elegant Architecture that sets us apart.">
    <link href="assets/css/lightbox/ekko-lightbox.min.css" rel="stylesheet">
    <link href="assets/css/home-map/mapbd.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="preconnect">
    <link href="assets/css/bundle.mined.css" rel="stylesheet" media="all">
    <link href="assets/css/layerslider.min.css" rel="stylesheet" media="all">
    <link href="assets/css/style.css" rel="stylesheet" media="all">
    <link href="assets/css/yt-lazyloadc.css" rel="stylesheet" media="all">
    <script src="assets/js/jquery.min.js"></script>

</head>

<body class="bodyclass ">
    <script>
        var site_url_info = {
            baseUrl: 'https://http://harmony-bd.com/',
            Url: 'https://http://harmonybd.com/'
        }
    </script>
    <!-- Google Tag Manager (noscript) -->
    <div class="site-main-wrapper ">
        <div class="animsition open-menu-position">
            <!-- Header -->
            <!-- ============================================= -->
            <div class="menu-fixed-light menu-dark-mobiles">
                <!-- Notice the menu-fixed-light class -->
                <header class="header-wrapper header-transparent header-transparent-light">
                    <div class="main-header">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="menu-wrapper">
                                            <div class="logo-wrapper">
                                                <a href="index.html" class="logo">
                                                    <img src="assets/img/harmony-logo.jpeg" class="logo-img logo-dark"
                                                        alt="Logo">
                                                </a>
                                            </div>

                                            <a href="#menu" class="btn btn-dark btn-lg mobile-menu-bar">
                                                <img src="assets/img/icons/menu.svg" alt="hamburger icon">
                                            </a>

                                            <nav class="navbar-right">
                                                <ul class="menu">
                                                    <li>
                                                        <a href="index.html">
                                                            <span>Home</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span>About us</span>
                                                        </a>
                                                        <ul class="submenu" style="display: none;">
                                                            <li>
                                                                <a href="our-story.html">Our Story</a>
                                                            </li>
                                                            <li>
                                                                <a href="vision-mission--values.html">Vision,
                                                                    Mission Values</a>
                                                            </li>
                                                            <li>
                                                                <a href="board-of-directors.html">Board of
                                                                    Directors</a>
                                                            </li>
                                                            <li>
                                                                <a href="management-team.html">Management
                                                                    Team</a>
                                                            </li>
                                                            <li>
                                                                <a href="companies.html">Companies</a>
                                                            </li>
                                                            <li>
                                                                <a href="our-clients.html">Our Clients</a>
                                                            </li>
                                                            <li>
                                                                <a href="csr.html">CSR</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span>Projects</span>
                                                        </a>
                                                        <ul class="submenu" style="display: none;">
                                                            <li>
                                                                <a href="ongoing.html">Ongoing</a>
                                                            </li>
                                                            <li>
                                                                <a href="upcoming.html">Upcoming</a>
                                                            </li>
                                                            <li>
                                                                <a href="completed.html">Completed</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a href="news.html">
                                                            <span>News Events</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="career.html">
                                                            <span>Career</span>
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a href="#">
                                                            <span>Contact</span>
                                                        </a>
                                                        <ul class="submenu" style="display: none;">
                                                            <li>
                                                                <a href="landowners.html">Landowners</a>
                                                            </li>
                                                            <li>
                                                                <a href="buyers.html">Buyers</a>
                                                            </li>
                                                            <li>
                                                                <a href="customers.html">Customers</a>
                                                            </li>
                                                            <li>
                                                                <a href="contact-us.html">Contact Us</a>
                                                            </li>
                                                        </ul>
                                                    </li>
                                                    <li>
                                                        <a class="open-search-menu" href="#search">
                                                            <span>
                                                                <img src="assets/img/icons/search.svg" alt="">
                                                            </span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </nav>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Main-Header -->
                </header>

            </div>

            <!-- Mobile Menu -->
            <nav id="menu" class="mmenu-mobile" style="display: none;">
                <ul class="listview-icons">
                    <li>
                        <a href="index.html">
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <span>About Us</span>
                        </a>
                        <ul>
                            <li><a href="our-story.html">Our Story</a></li>
                            <li><a href="vision-mission--values.html">Vision, Mission & Values</a></li>
                            <li><a href="board-of-directors.html">Board of Directors</a></li>
                            <li><a href="management-team.html">Management Team</a></li>
                            <li><a href="companies.html">Companies</a></li>
                            <li><a href="our-clients.html">Our Clients</a></li>
                            <li><a href="csr.html">CSR</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <span>Projects</span>
                        </a>
                        <ul>
                            <li><a href="ongoing.html">Ongoing</a></li>
                            <li><a href="upcoming.html">Upcoming</a></li>
                            <li><a href="completed.html">Completed</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="news.html"><span>News & Events</span></a>
                    </li>
                    <li>
                        <a href="career.html"><span>Career</span></a>
                    </li>
                    <li>
                        <a href="#">
                            <span>Contact</span>
                        </a>
                        <ul>
                            <li><a href="landowners.html">Landowners</a></li>
                            <li><a href="buyers.html">Buyers</a></li>
                            <li><a href="customers.html">Customers</a></li>
                            <li><a href="contact-us.html">Contact Us</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="open-search-menu" href="#search">
                            <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg"
                                xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="-265 377 40 40"
                                style="enable-background:new -265 377 40 40;" xml:space="preserve">
                                <g id="XMLID_86_">
                                    <rect id="XMLID_90_" x="-265" y="377" class="st0" width="40" height="40"></rect>
                                    <g id="search">
                                        <g id="XMLID_117_">
                                            <path id="XMLID_456_" class="st1" d="M-232.3,408.4l-6.3-6.3c1.6-1.9,2.6-4.4,2.6-7.1c0-6.1-4.9-11-11-11s-11,4.9-11,11
                                        s4.9,11,11,11c2.7,0,5.2-1,7.1-2.6l6.3,6.3c0.4,0.4,1,0.4,1.3,0C-231.9,409.3-231.9,408.7-232.3,408.4z M-247,404c-5,0-9-4-9-9
                                        s4-9,9-9s9,4,9,9S-242,404-247,404z">
                                            </path>
                                        </g>
                                    </g>
                                </g>
                            </svg>
                            Search
                        </a>
                    </li>
                    <li class="social-links">
                        <a href="#" target="_blank" class="facebook">
                            <i class="fa fa-facebook"></i>
                        </a>
                        <a href="#" target="_blank" class="twitter">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" target="_blank" class="linkedin">
                            <i class="fa fa-linkedin"></i>
                        </a>
                        <a href="#" target="_blank" class="youtube">
                            <i class="fa fa-youtube"></i>
                        </a>
                    </li>
                </ul>
            </nav>
            <!-- End of Mobile Menu -->

        </div>
        <header class="site-main-header">
            <div class="menu-overlay search-result-menu " ng-app="Harmony" ng-controller="searchCtrl">
                <div class="pull-right hamburger hamburger-close ">
                    <a href="#">
                        <img src="assets/img/icons/Close.svg" alt="close icon">
                    </a>
                </div>
                <div class="menu-column column-left has-inner-scroller "
                    style="background-image: url(assets/img/images/menu-1.jpg);">
                    <div class="menu-column-gap">
                        <div class="column-title-container">

                        </div>
                    </div>
                    <div class="menu-column-gap inner-scroller mcustom-scrollar">
                        <h1 class="heading-secondary text-white mb-50 ">
                            search projects
                        </h1>
                        <div class="text-white">
                            <p>Confidence is essential when choosing a contractor to provide the services you require,
                                as no two projects are ever the same.</p>
                        </div>
                    </div>
                </div>
                <div class="menu-column column-middle has-inner-scroller">
                    <div class="menu-column-gap inner-scroller mcustom-scrollar">
                        <form class="form-primary text-white custom-select">
                            <div class="form-group">
                                <div>
                                    <label for="">By Project</label>
                                    <input type="text" placeholder="Type the project name" ng-model="search.name">
                                </div>
                            </div>

                            <div class="form-group">
                                <div>
                                    <label for="">By Location</label>
                                    <select name="search.address" id="search.address" ng-model="search.address">
                                        <option value="">Any Location</option>
                                        <option value="Gulshan">Gulshan</option>
                                        <option value="Mohammadpur">Mohammadpur</option>
                                        <option value="Dhanmondi">Dhanmondi</option>
                                        <option value="Banani">Banani</option>
                                        <option value="Dhaka Cantonment">Dhaka Cantonment</option>
                                        <option value="Baridhara">Baridhara</option>
                                        <option value="Banani DOHS">Banani DOHS</option>
                                        <option value="Uttara">Uttara</option>
                                        <option value="Tejgaon">Tejgaon</option>
                                        <option value="Paribagh">Paribagh</option>
                                        <option value="Indira Road">Indira Road</option>
                                        <option value="New Eskaton">New Eskaton</option>
                                        <option value="New Baily Road">New Baily Road</option>
                                        <option value="Banasree">Banasree</option>
                                        <option value="Mirpur DOHS">Mirpur DOHS</option>
                                        <option value="Baily Road">Baily Road</option>
                                        <option value="Bashundhara R/A">Bashundhara R/A</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class=''>
                                    <label for="search.size">By Size (Sft)
                                    </label>
                                    <select name="search.size" id="search.size" ng-model="size">
                                        <option value="">All Size</option>
                                        <option value="600-1000">BELOW 1000</option>
                                        <option value="1001-1500">1000 - 1500</option>
                                        <option value="1501-2000">1500 - 2000</option>
                                        <option value="2001-2500">2000 - 2500</option>
                                        <option value="2601-3000">2500 - 3000</option>
                                        <option value="3001-15000">ABOVE 3000</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div>
                                    <label for="search.type">By Type</label>
                                    <select name="search.type" id="search.type" ng-model="search.type">
                                        <option value="">All Type</option>
                                        <option value="residential">Residential</option>
                                        <option value="commercial">Commercial</option>
                                    </select>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="menu-column column-right text-white has-inner-scroller">
                    <div class="menu-column-gap">
                        <div class="column-title-container">
                            <div ng-show="filteredResults.length == 0">
                                Sorry no result found !
                            </div>
                        </div>
                    </div>
                    <div class="menu-column-gap inner-scroller mcustom-scrollar">
                        <div class="full-height-desktop">
                            <ul class="search-result-list">
                                <li
                                    ng-repeat="result in filteredResults = (results | filter:search | filter:searchSize ) | orderBy:name">
                                    <a ng-href="{{result.link}}">
                                        <div class="search-thumb-wrapper">
                                            <div class="search-thumb"
                                                ng-style="{'background-image':'url({{result.image}})'}"></div>
                                        </div>
                                        <div class="search-meta">
                                            <h3 class="search-item-title">{{result.name | makeUpper}}</h3>
                                            <div class="search-item-subtitle">{{result.address}}</div>

                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="banner-slider-wrapper overflow-hidden">
            <a href="#feature_amenity" class="animate-scroll scroll-down">
                <img src="assets/img/arrow-down.svg" alt="down arrow">
            </a>

            <div class="section-gap project-detail-info fullscreen-content pb-0">
                <div class="overlay-layer" style="background-color: #231F20;"></div>
                <div class="container-fluid full-height full-height-sm">

                    <div class="row full-height-sm project-title-row">
                        <div class="col-sm-5 col-md-5 project-short-info full-height full-height-sm">
                            <h2 class="heading-primary text-white">
                                The Sanctum </h2>
                            <span>Plot 4, Road 81, Gulshan
                            </span>
                            <p class="mt-40">Invite yourself to a pristine seclusion.<br />
                            </p>
                        </div>
                    </div>
                    <div class="row  full-height-sm project-info-row">
                    </div>
                </div>
            </div>

            <div class="bannerImageWrapper">
                <img src="assets/img/harmony-img/slider7.jpg" alt="">
            </div>

        </div>


        <section id="at-a-glance" class=" our-background">
            <div class="clearfix">
                <div class="col-sm-6 no-pad parallax-holder col-sm-46-percent"
                    style="background-image: url(assets/img/harmony-img/harmony-flat.jpg); overflow: hidden;">
                </div>
                <div class="col-sm-6 no-pad col-sm-push-6 col-sm-54-percent col-sm-push-46-percent">
                    <div class="content-holder no-before-after bg-white section-gap">
                        <h2 class="heading-primary style-1 mb-60">
                            At a Glance
                        </h2>
                        <div class="feature-details-box-wrapper mb-50">
                            <div class="feature-details mt-20">
                                <ul class="list">
                                    <li>
                                        <span class="list-label">Architect:</span>
                                        <span class="list-info"> Ar. Nahas Ahmed Khalil</span>
                                    </li>
                                    <li>
                                        <span class="list-label">Land Area:</span>
                                        <span class="list-info"> 20 kathas </span>
                                    </li>
                                    <li>
                                        <span class="list-label">Orientation of the Land:</span>
                                        <span class="list-info"> North - South</span>
                                    </li>
                                    <li>
                                        <span class="list-label">Front Road:</span>
                                        <span class="list-info"> 25 feet</span>
                                    </li>
                                    <li>
                                        <span class="list-label">Number of Floors:</span>
                                        <span class="list-info"> 13</span>
                                    </li>
                                    <li>
                                        <span class="list-label">Number of Apartments:</span>
                                        <span class="list-info"> 20</span>
                                    </li>
                                    <li>
                                        <span class="list-label">Size of Units:</span>
                                        <span class="list-info"> 3,950 sft (approx.)</span>
                                    </li>
                                    <li>
                                        <span class="list-label">Number of Basements:</span>
                                        <span class="list-info"> 2</span>
                                    </li>
                                    <li>
                                        <span class="list-label">Number of Car Parking:</span>
                                        <span class="list-info"> 40</span>
                                    </li>

                                </ul>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="features--amenities" class="section-gap section-gap-bottom-features_amenities features_amenities">
            <div class="container-fluid">
                <div>
                    <h2 class="heading-primary text-off-white">
                        Features Amenities
                    </h2>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-5 col-md-push-7">
                        <div class="image-box-holder">
                            <div class="image-box no-shadow "
                                style="background-image: url(assets/img/harmony-img/flat1.png);">
                                <div class="inner-content text-white">
                                    <p class="text-bold hide">
                                    </p>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-6 col-md-pull-5 no-margin image-box-side-content">
                        <div class="feature-details-box-wrapper mb-50">
                            <div class="feature-details mt-20 text-white">
                                Grand Double Height Entry<br />
                                <br />
                                Elegant Reception and Waiting Lounge<br />
                                <br />
                                Gym with State-of-the-art Equipment<br />
                                <br />
                                Elegantly Furnished Party Room<br />
                                <br />
                                Professional Landscaping &amp; Lighting<br />
                                <br />
                                Double Glazed Window System<br />
                                <br />
                                Outdoor Activity Zone<br />
                                <br />
                                Rooftop Heated Swimming Pool<br />
                                <br />
                                Rooftop Deck &amp; BBQ Zone<br />
                                <br />
                                VRF Air Conditioning Solution<br />
                                <br />
                                Full Power Backup Generator<br />
                                <br />
                                Management Office<br />
                                <br />
                                Multi-level Basement Car Parking with Ventilation System<br />
                                <br />
                                Fire Fighting and Smoke Detection System<br />
                                <br />
                                Chauffeurs Waiting Room
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section id="interior--exterior<br>gallery" class="project-gallery pb-70 pt-70">
            <div class="container-fluid">
                <div class="mb-50">
                    <h1 class="heading-primary style-1">
                        Gallery
                    </h1>
                </div>
            </div>

            <div class="gallery-wrapper light-gallery">
                <div class="overflow-hidden">
                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <div class="row">
                                <div class="gallery-image-container high-contrast">
                                    <div class="image-thumb">
                                        <img src="assets/img/harmony-img/flat5.png" alt="">
                                    </div>
                                    <div class="gallery-image-hover">
                                    </div>
                                </div>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <div class="row">
                                <div class="gallery-image-container high-contrast">
                                    <div class="image-thumb">
                                        <img src="assets/img/harmony-img/flat2.png" alt="">
                                    </div>
                                    <div class="gallery-image-hover">
                                    </div>
                                </div>

                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <div class="row">
                                <div class="gallery-image-container high-contrast">
                                    <div class="image-thumb">
                                        <img src="assets/img/harmony-img/flat3.png" alt="">
                                    </div>
                                    <div class="gallery-image-hover">
                                    </div>
                                </div>

                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-3 col-md-3">
                        <div class="row">
                                <div class="gallery-image-container high-contrast">
                                    <div class="image-thumb">
                                        <img src="assets/img/harmony-img/flat4.png" alt="">
                                    </div>
                                    <div class="gallery-image-hover">
                                    </div>
                                </div>

                        </div>
                    </div>
                  

                </div>
            </div>
        </section>
       


        <iframe src="https://www.youtube.com/embed/ATngEtH39eU?si=ONfjYwF4eR3-g0Z_"
            style="height: 70vh;    margin-bottom: -5px; width: 100%;" frameborder="0" style="border:0"></iframe>

        <section id="location-map" class="location-map-wrapper pt-70">
            <div class="container-fluid">
                <div class="mb-50">
                    <h1 class="heading-primary style-1">
                        Location
                    </h1>
                </div>
            </div>

            <!--      <div id="map" class="location-map-holder"></div>-->



            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3650.5583447178183!2d90.35034637605925!3d23.79873668691756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3755c1ba65fff6c9%3A0x4bf2eb2f25349aeb!2sIT%20Sheba%2024!5e0!3m2!1sbn!2sbd!4v1707984624166!5m2!1sbn!2sbd"
                style="height: 70vh;    margin-bottom: -5px; width: 100%;" frameborder="0" style="border:0"></iframe>

            <section class="who-we-are-section section-gap bg-site pb-40">
                <div class="container-fluid">
                    <div class="mb-40">
                        <h2 class="heading-primary text-white">Book Now </h2>
                    </div>
                    <div class="row">
                        <div class="col-sm-6 col-md-6">
                            <div class="image-box-holder">
                                <div class="image-box "
                                    style="background-image: url(assets/img/harmony-img/flat2.png);">
                                </div>
                            </div>
                        </div>

                        <div class="col-sm-6 col-md-6">
                            <form id="book-now" class="dynamic_form form-primary all-text-white custom-select"
                                method="post" data-pjax="false">
                                <input type="hidden" name="_csrf-frontend">
                                <!-- form full -->
                                <input type="hidden" id="book-now" class="form-control" name="form_id" value="book-now">
                                <div class="othersss">

                                    <input type="hidden" id="project_title" class="form-control" value="The Sanctum">

                                </div>


                                <input type="text" style="display:none;">

                                <div class="form-group">
                                    <div>
                                        <label class="control-label" for="name">Name*</label>
                                        <input type="text" id="name" class="form-control"
                                            placeholder="Enter your full name here">
                                        <div class="hint-block"></div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div>
                                        <label class="control-label" for="email">Email</label>
                                        <input type="text" id="email" class="form-control"
                                            placeholder="Enter your email ID here">
                                        <div class="hint-block"></div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div>
                                        <label class="control-label" for="phone">Contact number*</label>
                                        <input type="text" id="phone" class="form-control"
                                            placeholder="Enter your contact number here">
                                        <div class="hint-block"></div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div>
                                        <label class="control-label" for="Message">Message</label>
                                        <textarea id="Message" class="form-control"
                                            placeholder="Enter your message here"></textarea>
                                        <div class="hint-block"></div>
                                    </div>
                                </div>


                                <div class="form-group no-border">
                                    <div>
                                        <button type="submit" href="contact-us.html"
                                            class="dynamic_submit_btn button button-outline button-outline-white mt-30">Book
                                            Now</button>
                                    </div>
                                </div>


                                <!-- end of form full -->

                            </form>



                        </div>
                    </div>
                </div>
            </section>

            <footer class="site-main-footer">
                <div class="inner-addon right-addon" style="display: none;">
                    <i class="glyphicon glyphicon-search"></i>
                    <input style="border-radius: 1.5rem;height:50px" id="search-bar"
                        placeholder="Type the Project name or Location">
                </div>
                <div class="footer-bottom">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="line"></div>
                                        <div class="copyright">
                                            <p>&copy; 2024 Harmony.</p>
                                            <p>Designed &amp; Developed by
                                                <a class="hover-line" href="https://itsheba24.com/" target="_blank">IT
                                                    SHEBA</a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="footer-social-wrapper pull-right">
                                            <a target="_blank" href="">
                                                <img src="assets/img/facebook-icon.png" alt="Harmonyholdings-fb-page">
                                            </a>
                                            <a target="_blank" href="">
                                                <img src="assets/img/instagram-icon.png"
                                                    alt="Harmonyholdings-instagram-page">
                                            </a>
                                            <a target="_blank" href="">
                                                <img src="assets/img/youtube-icon.png"
                                                    alt="Harmonyholdings-youtube-page">
                                            </a>
                                            <a target="_blank" href="">
                                                <img src="assets/img/pinterest-icon.png"
                                                    alt="Harmonyholdings-pinterest-page">
                                            </a>
                                        </div>
                                        <a href="#top" class="animate-scroll scroll-up" style="z-index: 999;">
                                            <img src="assets/img/icons/arrow-down.svg" alt="down arrow">
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>

    </div>

    <script src="assets/js/yiiframework.js"></script>
    <script src="assets/js/yii.activeForm.js"></script>
    <script src="assets/js/upload.js"></script>
    <script src="assets/js/layerslider.transitions.js"></script>
    <script src="assets/js/layerslider.js"></script>
    <script src="assets/js/min/bundle.min.js"></script>
    <script src="assets/js/lg-video.js"></script>
    <script src="assets/js/yt-lazyload.min.js"></script>
    <script src="assets/js/script.js"></script>

</body>

</html>